<div [ngClass]="{'dark-theme': themingService.isDarkmode()}" class="wrapper">
  <img *ngIf="!themingService.isDarkmode()"
       alt="Logo"
       src="assets/logos/logo-blue.png"
       width="30%">
  <img *ngIf="themingService.isDarkmode()"
       alt="Logo"
       src="assets/logos/logo-dark.png"
       width="30%">
  <h6 style="margin-top: 30px"><b>{{ i18nService.getTranslation(i18n.HISTORY_EMPTY_SLOGAN) }}</b></h6>
  <button (click)="generateTest()" mat-flat-button
          style="margin-top: 30px">{{ i18nService.getTranslation(i18n.HISTORY_EMPTY_BUTTON) }}
  </button>
</div>

