<nav [tabPanel]="languagePanel" mat-tab-nav-bar>
  @for (language of languages; track language) {
    <a mat-tab-link
       (click)="onTabClick(language)"
       [active]="selectedLanguage == language"> {{ language }} </a>
  }
</nav>
<mat-tab-nav-panel #languagePanel></mat-tab-nav-panel>

<form [formGroup]="myForm">
  <mat-form-field style="width: 100%; height: 150px; margin-top: 50px">
    <textarea formControlName="ctrl1" matInput required></textarea>
    <mat-error *ngIf="myForm.get('ctrl1')?.hasError('requiredTest')">
      You need at least one test case!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="ctrl2" required>
      <mat-option *ngFor="let version of versions" [value]="version">
        {{ version }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<button (click)="startGeneration()"
        [disabled]="!myForm.valid || hasGenerated"
        mat-flat-button
        style="width: 100%; margin-top: 25px; margin-bottom: 25px">
  GENERATE
</button>

<div *ngIf="hasGenerated">
  <h5>Progress</h5>
  <mat-horizontal-stepper #stepper [linear]="true" animationDuration="500">
    <mat-step [editable]="false" [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Code Generation</ng-template>
    </mat-step>
    <mat-step *ngFor="let step of amountOfTest" [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Test</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Done</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div *ngIf="showGeneratedCode" style="margin-top: 25px">
  <pre><code [highlightAuto]="generatedCode" lineNumbers></code></pre>
</div>
