pre {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
}

code {
  flex: 1;
  line-height: 1.8em;
  font-size: 14px;
  min-height: 100%;
  padding: 1em 1.2em;
  overflow-x: unset;
  overflow-y: unset;
}

td.hljs-ln-numbers {
  position: sticky;
  left: 0;
  user-select: none;
  text-align: center;
  color: #cccccc6b;
  border-right: 1px solid #cccccc1c;
  vertical-align: top;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

