<div [ngClass]="{'dark-theme': darkMode}" class="container">
  <nav class="menu">
    <ul class="items">
      <li (click)="newChat()" class="item">
        <mat-icon>add_circle</mat-icon>
      </li>
      <li (click)="settingsOpen = false"
          [ngClass]="{'item-active': !settingsOpen}"
          class="item item-active">
        <mat-icon>forum</mat-icon>
      </li>
      <li (click)="isDrawerExtended = !isDrawerExtended" class="item">
        <mat-icon *ngIf="!isDrawerExtended">open_in_full</mat-icon>
        <mat-icon *ngIf="isDrawerExtended">close_fullscreen</mat-icon>
      </li>
      <li (click)="settingsOpen = !settingsOpen" [ngClass]="{'item-active': settingsOpen}"
          class="item">
        <mat-icon>settings</mat-icon>
      </li>
    </ul>
  </nav>
  <div *ngIf="isDrawerExtended && !settingsOpen" class="history">
    <div (click)="changeHistoryElement(entry)"
         (keypress)="changeHistoryElement(entry)"
         *ngFor="let entry of historyEntries"
         [ngClass]="{'history-element-active': activeHistoryId === entry.id}"
         class="history-element">
      <div>
        <p class="testcase">{{ entry.method }}</p>

        <div class="informations">
          <div class="information-element">{{ entry.language }}</div>
          <div class="information-element">{{ formatTimeDifference(entry.created_at) }}</div>
        </div>


      </div>


    </div>

  </div>
  <app-settings *ngIf="settingsOpen"></app-settings>
  <div *ngIf="!settingsOpen" class="chat" style="width: 100%; height: 100%; position: relative">
    <div #scrollBottom class="messages-chat">
      <div class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'" class="photo">
          <div class="online"></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_INTRODUCTION) }}</p>
      </div>
      <div class="message text-only">
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_LANGUAGE) }}</p>
      </div>
      <div class="message text-only">
        <div class="response">
          <mat-form-field class="text">
            <mat-select [(ngModel)]="input_language_dropdown"
                        [disabled]="currentStepIndex >= 1"
                        placeholder="{{ i18nService.getTranslation(i18n.FORM_LANGUAGE) }}">
              <mat-option *ngFor="let language of languages" [value]="language">
                {{ language }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="currentStepIndex > 0" class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'"
             class="photo">
          <div class="online"></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_VERSION) }}</p>
      </div>
      <div *ngIf="currentStepIndex > 1" class="message text-only">
        <div class="response">
          <mat-form-field class="text">
            <mat-select [(ngModel)]="input_version_dropdown"
                        [disabled]="currentStepIndex >= 3"
                        placeholder="{{ i18nService.getTranslation(i18n.FORM_VERSION) }}"
            >
              <mat-option *ngFor="let version of versions" [value]="version">
                {{ version }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="currentStepIndex > 2" class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'"
             class="photo">
          <div class="online"></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_TESTCASES) }}</p>
      </div>
      <div *ngIf="currentStepIndex > 3" class="message text-only">
        <div class="response">
          <mat-form-field class="text" style="width: 500px">
            <textarea [(ngModel)]="input_test_textarea"
                      [disabled]="currentStepIndex >= 5"
                      matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="currentStepIndex > 4" class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'"
             class="photo">
          <div class="online"></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_TESTCASES_UPLOADED) }}</p>
      </div>
      <div *ngIf="currentStepIndex > 5" class="message text-only">
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_DOCKER_STARTED) }}</p>
      </div>
      <div *ngIf="currentStepIndex > 8" class="message text-only">
        <pre class="text"><code [highlightAuto]="GENERATED_CODE" lineNumbers></code></pre>
      </div>
    </div>
    <div class="submit-box">
      <button (click)="continue()" [disabled]="isSendButtonDisabled()"
              aria-label="Example icon button with a heart icon"
              class="submit-btn"
              mat-fab>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
