<div [ngClass]="{'dark-theme': darkMode}" class="container">
  <nav class="menu" style="width: 70px; min-width: 70px">
    <ul class="items">
      <li (click)="newChat()" class="item">
        <mat-icon [matTooltip]="this.i18nService.getTranslation(i18n.TOOLTIP_NEW_CHAT)">add_circle</mat-icon>
      </li>
      <li (click)="settingsOpen = false"
          [ngClass]="{'item-active': !settingsOpen}"
          class="item item-active">
        <mat-icon [matTooltip]="this.i18nService.getTranslation(i18n.TOOLTIP_CHAT)">forum</mat-icon>
      </li>
      <li (click)="settingsOpen = !settingsOpen" [ngClass]="{'item-active': settingsOpen}"
          class="item">
        <mat-icon [matTooltip]="this.i18nService.getTranslation(i18n.TOOLTIP_SETTINGS)">settings</mat-icon>
      </li>
    </ul>
  </nav>
  <div *ngIf="isDrawerExtended && !settingsOpen && this.historyEntries.length > 0" class="history">
    <div class="history-searchbar">
      <mat-icon class="search-icon">search</mat-icon>
      <input (ngModelChange)="filterHistory($event)" [(ngModel)]="search" name="search"
             placeholder="{{ i18nService.getTranslation(i18n.CHAT_SEARCH) }}"
             type="tel">
    </div>
    <div (click)="changeHistoryElement(entry)"
         (keypress)="changeHistoryElement(entry)"
         *ngFor="let entry of historyEntries"
         [ngClass]="{'history-element-active': activeHistoryId === entry.id}"
         class="history-element">
      <div class="history-element-wrapper">
        <p class="testcase">{{ getTranslationOfMethodName(entry) }}</p>
        <div class="informations">
          <div *ngIf="entry.language"
               class="information-element"
               style="color: orange;"
          >{{ entry.language }}
          </div>
          <div class="information-element">{{ formatTimeDifference(entry.created_at) }}</div>
          <div *ngIf="entry.generatedCode"
               class="information-element">{{ i18nService.getTranslation(i18n.CHAT_GENERATED_TAG) }}
          </div>
        </div>
      </div>
      <div class="delete-icon">
        <mat-icon
          (click)="deleteEntry(entry.id)">delete
        </mat-icon>
      </div>


    </div>

  </div>

  <app-settings *ngIf="settingsOpen"
                style="width: 100%; height: 100%"
  ></app-settings>

  <app-history-empty *ngIf="this.historyEntries.length == 0 && !settingsOpen"
                     style="width: 100%; height: 100%"
  ></app-history-empty>
  <div *ngIf="!settingsOpen && this.historyEntries.length > 0" class="chat"
       style="width: 100%; height: 100%; position: relative">
    <div #scrollBottom class="messages-chat" style="height: 85%">
      <div class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'" class="photo">
          <div
            [ngClass]="{'online-orange': currentStep == ChatState.BOT_MSG_FINISHED && this.input_new_generation.toString() == 'true'}"
            class="online"></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_INTRODUCTION) }}</p>
      </div>
      <div class="message text-only">
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_LANGUAGE) }}</p>
      </div>
      <div class="message text-only">
        <div class="response">
          <mat-form-field [ngStyle]="{ 'width': getLengthOfTextField()}" class="text">
            <mat-select [(ngModel)]="input_language_dropdown"
                        [disabled]="isAfter(this.currentStep, ChatState.USER_SELECT_LANGUAGE)"
                        placeholder="{{ i18nService.getTranslation(i18n.FORM_LANGUAGE) }}">
              <mat-option *ngFor="let language of languages" [value]="language">
                {{ language }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.BOT_MSG_ENTER_VERSION)" class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'"
             class="photo">
          <div
            [ngClass]="{'online-orange': currentStep == ChatState.BOT_MSG_FINISHED && this.input_new_generation.toString() == 'true'}"
            class="online"
          ></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_VERSION) }}</p>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.USER_SELECT_VERSION)" class="message text-only">
        <div class="response">
          <mat-form-field class="text">
            <mat-select [(ngModel)]="input_version_dropdown"
                        [disabled]="isAfter(this.currentStep, ChatState.USER_SELECT_VERSION)"
                        placeholder="{{ i18nService.getTranslation(i18n.FORM_VERSION) }}">
              <mat-option *ngFor="let version of versions" [value]="version">
                {{ version }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.BOT_MSG_ENTER_TEST)" class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'"
             class="photo">
          <div
            [ngClass]="{'online-orange': currentStep == ChatState.BOT_MSG_FINISHED && this.input_new_generation.toString() == 'true'}"
            class="online"></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_TESTCASES) }}</p>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.USER_UPLOAD_TEST)" class="message text-only">
        <div class="response">
          <mat-form-field class="text"
                          style="width: 600px">
            <textarea #autosize="cdkTextareaAutosize"
                      [(ngModel)]="input_test_textarea"
                      [disabled]="isAfter(this.currentStep, ChatState.USER_UPLOAD_TEST)"
                      cdkAutosizeMaxRows="20"
                      cdkAutosizeMinRows="3"
                      cdkTextareaAutosize
                      matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.BOT_MSG_UPLOAD_COMPLETED)" class="message">
        <div
          [style.background-image]="'url(' + BOT_LOGO_URL + ')'"
          class="photo">
          <div
            [ngClass]="{'online-orange': currentStep == ChatState.BOT_MSG_FINISHED && this.input_new_generation.toString() == 'true'}"
            class="online"></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_TESTCASES_UPLOADED) }}</p>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.BOT_MSG_CONTAINER_STARTED)" class="message text-only">
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_DOCKER_STARTED) }}</p>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.BOT_MSG_GENERATED_CODE)" class="message text-only">
        <pre class="text">
          <code [highlightAuto]="GENERATED_CODE" lineNumbers></code>
        </pre>
        <button (click)="sendCopySnackbar()"
                [cdkCopyToClipboard]="GENERATED_CODE"
                class="copy-btn" mat-fab>
          <mat-icon [matTooltip]="this.i18nService.getTranslation(i18n.TOOLTIP_CLIPBOARD)">content_copy</mat-icon>
        </button>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.BOT_MSG_QUESTION_RETRY)" class="message text-only">
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_MORE_TESTCASES) }}</p>
      </div>
      <div *ngIf="isBefore(this.currentStep, ChatState.USER_QUESTION_RETRY)" class="message text-only">
        <div class="response">
          <mat-radio-group [(ngModel)]="input_new_generation"
                           [disabled]="isAfter(this.currentStep, ChatState.USER_QUESTION_RETRY)"
                           class="text">
            <mat-radio-button value="true">{{ i18nService.getTranslation(i18n.BOT_MORE_TESTCASES_OPTION_YES) }}
            </mat-radio-button>
            <mat-radio-button value="false">{{ i18nService.getTranslation(i18n.BOT_MORE_TESTCASES_OPTION_NO) }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="currentStep == ChatState.BOT_MSG_FINISHED" class="message">
        <div [style.background-image]="'url(' + BOT_LOGO_URL + ')'" class="photo">
          <div
            [ngClass]="{'online-orange': currentStep == ChatState.BOT_MSG_FINISHED && this.input_new_generation.toString() == 'true'}"
            class="online"
          ></div>
        </div>
        <p class="text">{{ i18nService.getTranslation(i18n.BOT_THANKS) }}</p>
      </div>
    </div>
    <div class="submit-box">
      <button (click)="isDrawerExtended = !isDrawerExtended"
              class="submit-btn"
              mat-fab>
        <mat-icon *ngIf="!isDrawerExtended" [matTooltip]="this.i18nService.getTranslation(i18n.TOOLTIP_HISTORY)">open_in_full</mat-icon>
        <mat-icon *ngIf="isDrawerExtended" [matTooltip]="this.i18nService.getTranslation(i18n.TOOLTIP_HISTORY)">close_fullscreen</mat-icon>
      </button>
      <button (click)="continue()"
              [disabled]="isSendButtonDisabled()"
              aria-label="Example icon button with a heart icon"
              class="submit-btn"
              mat-fab>
        <mat-icon [matTooltip]="this.i18nService.getTranslation(i18n.TOOLTIP_SEND)">send</mat-icon>
      </button>
    </div>
  </div>
</div>
