$light-background: #FFF;
$dark-background: #282828;
$dark-background_ai_bubble: #3f3f3f;

.dark-theme {
  background-color: $dark-background;

  .container {
    background-color: $dark-background;
  }

  .messages-chat {
    background-color: $dark-background;
  }

  .chat .messages-chat .text {
    background-color: $dark-background_ai_bubble;
  }

  .submit-box {
    background-color: $dark-background;
  }

  .response .text {
    background-color: #575757 !important;
  }
}


.container {
  padding: 0;
  background-color: $light-background;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 100%;

  display: flex;
  flex-direction: row;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

.messages-chat {
  height: 80%;
  overflow-y: auto;
}

.chat .messages-chat {
  padding: 25px 35px;
}

.chat .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
  display: block;
  width: 45px;
  height: 45px;
  background: #E6E7ED;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.response {
  float: right;
  margin-right: 0 !important;
  margin-left: auto;
}

.response .text {
  background-color: #e3effd !important;
}

.submit-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f6f6f6;
}

.submit-btn {
  color: #fff;
  background-color: #4f6ebd;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
  margin: 15px;

}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

.desc-contact {
  height: 43px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-element {
  border-bottom: solid 1px #E0E0E0;
  cursor: pointer;
}

.history-element:hover {
  background-color: #f0f0f0;
}

.history-element-active {
  border-right: solid 5px #87a3ec;
  background-color: #FFF;
}


.history {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
  background-color: #FAFAFA;
  width: 40%;
  overflow-y: auto;
}


.informations {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 5px;
}

.testcase {
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #515151;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
}


.information-element {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #BBB;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}


.menu {
  float: left;
  height: 100%;
  width: 70px;
  background: #4768b5;
  background: -webkit-linear-gradient(#4768b5, #35488e);
  background: -o-linear-gradient(#4768b5, #35488e);
  background: -moz-linear-gradient(#4768b5, #35488e);
  background: linear-gradient(#4768b5, #35488e);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.menu .items {
  list-style: none;
  margin: auto;
  padding: 0;
}

.menu .items .item {
  height: 70px;
  border-bottom: 1px solid #6780cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9fb5ef;
  font-size: 17pt;
}

.menu .items .item-active {
  background-color: #5172c3;
  color: #FFF;
}

.menu .items .item:hover {
  cursor: pointer;
  background-color: #4f6ebd;
  color: #cfe5ff;
}

.history-element {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  margin-top: 20px;
  margin-right: 25px;
  font-size: 25px;
  display: none;
  color: #C70000;
}

.history-element:hover {
  .delete-icon {
    display: block;
  }
}

.history-element-active .delete-icon {
  margin-right: 20px;
}

