.main-style {
  width: 60%;
  height: 50%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.mat-mdc-nav-list .mat-mdc-list-item {
  height: 40px;
}

.hover-button {
  display: none; /* Standardmäßig ausblenden */
  position: absolute; /* Um den Button an die rechte Seite zu platzieren */
  right: 10px; /* Abstand vom rechten Rand des Listenelements */
  top: 50%; /* Vertikal zentriert */
  transform: translateY(-50%);
}

.mat-mdc-nav-list:hover .mat-mdc-list-item:hover
.hover-button {
  display: inline-block;
}
