<div class="wrapper">

  <p>{{ i18nService.getTranslation(i18n.SETTINGS_HEADING) }}</p>


  <div>
    <lib-country-list
      (onCountryChange)="onCountryChange($event)"
      [allowedCountryCodes]="['fr', 'de', 'us', 'ch']"
      [countryListConfig]="{ hideDialCode: true,hideSearch:true, displayLanguageCode: false, hideCode:true }"
      [selectedCountryCode]="getLanguageCode()"
      [selectedCountryConfig]="{ hideDialCode: true,hideSearch:true, displayLanguageCode: false, hideCode:true }"
    ></lib-country-list>
    <button (click)="onDeleteHistory()"
            color="warn"
            mat-raised-button
            style="margin-top: 15px; width: 100%">{{ i18nService.getTranslation(i18n.SETTINGS_DELETE_HISTORY) }}
    </button>
  </div>


</div>
